

path#outer-ring{
  opacity: 0;
}
path#middle-ring{
  opacity: 0;
}
path#inner-ring{
  opacity: 0;
}

div.main{
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-areas: 'logo '
                       'about'
                       'aag  '
                       'feat '
                       'gps  '
                       'fom  ';
}


.cta{
  grid-area: logo;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

.pls-rotate{
  display: none;
  font-family: 'Source Sans Pro', monospace;
  margin-top: 20%;
  font-size: 1.2em;
}

svg#logo{
  grid-area: 1/1/2/2;
  display: flex;
  justify-self: center;
  align-self: center;
}

@media screen
  and (max-width: 700px)
  and (orientation: landscape) {
  section{
    display: none;
  }
  svg{
    display: none;
  }
  .arrow{
    visibility: hidden;
  }
  .pls-rotate{
    display: flex;
    align-self: center;
    justify-content: center;
  }

}

.at-a-glance{
  grid-area: aag;
  width: 100vw;
  height: 100vh;
}

.aag-container{
  display: grid;
  width: 100vw;
  height: 85vh;
  grid-template-columns: 1fr 3fr 4fr 1fr;
  grid-template-areas: '.. aag aagimg ..';
  margin: 5%;
}

@media only screen and (max-width: 800px) {
  .aag-container{
    grid-area: smpl;
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 10fr 2fr;
    grid-template-areas: '.. aagimg ..'
                         '.. aag    ..';
  }
}

.aag-card{
  grid-area: aag;
  z-index: 10;
  margin: 10% auto;
  width: 100vw;
  border-radius: 15px;
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 3px -3px 1em gainsboro, -3px -3px 1em gainsboro;
}

.aag-title{
  background-color: firebrick;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  letter-spacing: 5px;
  font-family: 'podkova', monospace;
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.aag-desc {
  margin-top: 50px;
  list-style-position: outside;
  margin-left: 15px;
}

.aag-desc > li {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.25em;
  line-height: 1.5;
  margin-top: 30px;
  text-align: left;
  display: none;
}

@media only screen and (max-width: 800px) {
  .aag-card{
    max-height: 100%;
    margin-top: 2%;
  }
  .aag-card > .aag-title{
    font-size: 1.5em;
    padding: 3%;
  }
  .aag-desc > li{
    font-size: 1em!important;
    margin: 0!important;
    line-height: 2;
  }
  .aag-desc{
    padding-left: 10%;
    margin-top: 10px;
  }
}

ol{
margin-left:0px;
padding-left: 10%;
}

#launch-img-0{
  position: absolute;
  z-index: 1;
  height: 80%;
}
#launch-img-1{
  position: absolute;
  z-index: 2;
  display: none;
  height: 80%;
}
#launch-img-2{
  position: absolute;
  z-index: 3;
  display: none;
  height: 80%;
}
#launch-img-3{
  position: absolute;
  z-index: 4;
  display: none;
  height: 80%;
}
#launch-img-4{
  position: absolute;
  z-index: 5;
  display: none;
  height: 80%;
}
#replay-btn {
  display: none;
  justify-content: center;
  margin-top: 2%;
}
#replay-btn > span{
  font-family: 'Anonymous Pro', monospace;
  font-size: .7em;
  transition: color .5s ease-in-out;
}

#replay-btn:hover{
  cursor: pointer;
  color: firebrick;
}

/* .replay-arrow:hover{
  transform: rotate(480deg);
  fill: firebrick;
} */

.replay-arrow{
  padding-left: 15px;
  padding-right: 15px;
  transition: transform .5s ease-in-out;
}

@media only screen and (max-width: 800px) {
  #launch-img-0, #launch-img-1, #launch-img-2, #launch-img-3, #launch-img-4 {
    height: 40%;
  }

}

#get-going{
  text-align: center;
  list-style-type: none;
  position: relative;
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10%;
  display: none;
}

rect.ima-rect{
  background-color: fuchsia;
}


.aag-img{
  grid-area: aagimg;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2em;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-80px);
  padding: 10px;
  animation: 2s infinite alternate upDown;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  border-radius: 50%;
  color: white;
}

.arrow:hover{
  background-color: whitesmoke;
  cursor: pointer;
}

@keyframes upDown {
  0%{
    transform: translateY(-80px);
  }
  100%{
    transform: translateY(-70px);
  }
}


.nav{
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  height: 65px;
  margin-top: -15px;
  background-color: white;
  font-family: 'Anonymous Pro', monospace;
  z-index: 15;
}

.nav > li {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 30px;
  transition: background-color .3s ease-in-out;
}

.nav > li:hover {
  color: firebrick;
  cursor: pointer;
}

section.about{
  width: 100vw;
  height: 100vh;
  grid-area: about;
}

.about-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.about-content{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'emo desc';
  padding: 10%;
}

.about-emoji{
  grid-area: emo;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  margin: 20%;
}

.about-emoji > div > div > img {
  max-width: 50%;
}

.about-desc{
  grid-area: desc;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.e-dispatch{
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.pager{
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.tower{
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.dispatch{
  grid-area: 2/1/3/3;
  text-align: center;
}


.e-arrow-l{
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.e-arrow-l > div, .e-arrow-r > div{
  height: 40px;
  margin: 0;
  border-left: 2px dashed black;

}


.arrow1 {
}

.e-first-resp{
  grid-area: 3/1/4/2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.e-arrow-r{
  grid-area: 4/1/5/2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.e-emerg{
  grid-area: 5/1/6/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.fire{
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.house{
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.emergency{
  grid-area: 2/1/3/3;
  text-align: center;
}

.anon {
  font-family: 'Anonymous', monospace;
  font-size: .8em;
}



.about-desc > p:first-child{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 20px;
  border-bottom: 5px solid firebrick;
  line-height: 1.5;
}

.about-desc > p:last-child{
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.2em;
  line-height: 1.5;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

@keyframes downUp{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(5px);
    }
}



.features{
  grid-area: feat;
  display: grid;
  width: 100%;
  height: 95vh;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: '.. ftr  ..';
}

.features-container{
  grid-area: ftr;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 'txtapp'
  'desc  ';
  width: 100%;
}

@media only screen and (max-width: 600px){
  .features{
    background-color: white;
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: '.. ftr ..';
  }

  .features-container{
    grid-area: ftr;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'txtapp'
                         'desc  ';
    width: 100%;
  }
}

.txt-app{
  grid-area: txtapp;
  text-align: center;

}

.txt-app > img{
  max-width:100%;
  max-height:100%;
  opacity: 0;
  padding-top: 30px;
}

.features-container > .heading{
  grid-area: desc;
  border: 1px solid whitesmoke;
  box-shadow: 3px -3px 1em gainsboro, -3px -3px 1em gainsboro;
  border-radius: 15px;
  margin: 2%;
  height: 11em;
}

@media only screen and (max-width: 800px) {
  .features-container > .heading{
    height: 18em;
  }
}

.features-container > .heading > p:first-child{
  font-family: 'podkova', monospace;
  /* font-weight: bold; */
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  background-color: firebrick;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 5px;
  text-align: center;
}

.features-container > .heading > p:last-child{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.2em;
  line-height: 1.5;
}


.gps{
  grid-area: gps;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-gap: 10%;
  grid-template-columns: 1fr 4fr 6fr 1fr;
  grid-template-areas: '.. img head ..';
}

@media only screen and (max-width: 800px) {
  .gps{
    grid-template-rows: 2fr 3fr;
    grid-gap: 0%;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: '.. img ..'
                         '.. head  ..';
  }
  .ipad > img {
    transform: translateY(100px)!important;
    max-width: 70%;
    max-height: 90%;
  }
}

.gps > .title {
  grid-area: head;
  display: flex;
  align-items: center;

}
.title > .heading > p:first-child{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 5px solid firebrick;
  line-height: 1.5;
}

.title > .heading{
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.2em;
  line-height: 1.5;
  opacity: 0;
  padding-left: 30px;
}

.ipad{
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: upDown 3s ease-in-out infinite alternate;
}

.ipad > img {
  transform: translateY(60px);
  max-width: 100%;
}

.find-out-more{
  grid-area: fom;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15%;
}

.fom-img{
  text-align: right;
}

.fom-img > img{
  max-width: 80%;
  opacity: 0;
  padding-top: 30px;
}

.fom-card{
  margin: 10%;
  border-radius: 15px;
  width: 40%;
  height: auto;
  text-align: center;
  box-shadow: 3px -3px 1em gainsboro, -3px -3px 1em gainsboro;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .find-out-more{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
  }

  .fom-img{
    text-align: center;
  }

  .fom-card{
    margin: 0;
    width: 80%;
  }

}



.fom-title{
  background-color: firebrick;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  letter-spacing: 5px;
  font-family: 'podkova', monospace;
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
}
.fom-desc {
  margin: 5%;
}

.fom-desc > p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.25em;
  line-height: 2;
  margin-top: 30px;
  text-align: left;
}

.fom-desc > p > span {
  font-size: .75em;
  color: gray;
  font-style: italic;
}

.fom-desc > .fom-form {
  width: 90%;
}

.fom-form > form {
  text-align: left;
}

.fom-form > form > input {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Anonymous', monospace;
}

.fom-form > form > textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Anonymous', monospace;
}

.fom-form > form > p {
  width: 60%;
  padding: 10px!important;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-family: 'Anonymous', monospace;
}

.fom-form > form > button {
  font-family: 'podkova', monospace;
  border-radius: 5px;
  padding: 2% 3%;
  margin-top: 10px;
  font-size: 1.5em;
  background-color: firebrick;
  color: white;
  letter-spacing: 2px;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out;
}

.fom-form > form > button:hover {
  font-family: 'podkova', monospace;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1.5em;
  background-color: darkred;
  color: gainsboro;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 3px -3px 1em gainsboro, -3px -3px 1em gainsboro;
}

@keyframes fillIt{
  0%: {
    opacity: 0;
  }
  100%: {
    opacity: 1;
  }
}


/* img[href$=".jpg"] {

} */
